.Acontainer{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box{
    width: 40vw;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.box label{
    cursor: pointer;
}
.box input{
    width: 20vw;
    margin-left: 10px;
}
.box button{
    width: 10vw;
    height: 6vh;
    background-color: none;
    border: 1px solid;
    border-radius:20px;
}



/* panel */

.Pcontainer{
    width: 100vw;
    height: 100vh;    
    color: #8a9ba5f0
}
.Pcontainer .PHead{
    width: 100%;
    text-align: center;
    margin-top: 15vh;
}
.Pcontainer .PHead p{
    font-size: 35px;
    font-weight: 700;
    
}
.Pcontainer .Pcircles{
    width: 100%;
    height: 75vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}
.Pcontainer .Pcircles .PBox{
    height:200px;
    width:200px;
    border: 2px solid;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}
.Pcontainer .Pcircles .PBox p{
    font-size: 30px;
    font-weight: 700;
}
.Pcontainer .Pcircles .PBox p:nth-child(1){
    text-decoration: underline;
}
.userDataTxt{
    text-decoration:underline;
    letter-spacing: 2px;
    font-weight: bold;
}

/* Admindata */

.Dcontainer{
    height: max-content;
    width: 100vw;
    margin: 20px 0;
    border-bottom: 2px solid;
}
.Dcontainer .data{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.Dcontainer .userInfo{
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 2px solid;
    justify-content: flex-star
}
.Dcontainer .userInfo div{
    margin-left:10vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.1rem;
    font-weight: 500;
}
.Dcontainer .DNotes{
    width: 80%;
    height: max-content;
    border: 2px solid;
    margin: 20px;
    border-radius: 10px
}
.Dcontainer .DNotes p:nth-child(1){
    font-size: 1.1rem;
    font-weight: 500;
    text-decoration: underline;
}


@media screen and (max-width:500px) {
    .Acontainer .box{
        border: 2px solid;
        width: 70%;
        height: 60%;
    }
    .Acontainer .box div{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .Acontainer .box div input{
        width: 80%;
        margin-top: 5px;
    }
    .Acontainer .box button{
        width: 50%;
    }
    .Pcontainer .Pcircles{
        flex-direction: column;
    }

    
}