.signupContainer {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    background: rgb(104, 172, 194);
    background: linear-gradient(119deg, rgb(128 180 197) 0%, rgb(48 100 137) 48%, rgb(140 151 53) 100%);
    background: url('../images/signupImg.jpg') no-repeat;
    background-size: cover;
}

.signup,
.signup-img {
    width: 50vw;
    height: 100%;
}
.signup{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 400px;
}
.sign-form{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 75%;
    min-height: 400px;
    min-width: 300px;
    width: 60%;
    max-width: 60%;
    border: 2px solid rgba(255, 255, 255, 0.2);
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 10px;
}
.signup-text{
    font-size: 1.9rem;
    font-weight: 600;
    letter-spacing: 5px;
    padding: 0;
    margin: 0;
    text-decoration: underline;
}
.sign-form div {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.sign-form div label{
    cursor: pointer;
}
.sign-form input{
    height: 30px;
    width: 70%;
    background: none;
    border: none;
    color: black;
    text-align: center;
    border-bottom: 0.5px solid;
}
.sign-form input:focus{
    border-bottom:  0.5px solid rgb(243, 243, 243);
}
.sign-form button{
    width: 30%;
    height: 10%;
    border-radius: 20px;
    border: 1px solid;
    background: none;
}
.sign-form button:hover{
    background: rgb(82, 82, 196);
}
.sign-form .log-text a{
    cursor: pointer;
    text-decoration: none;
    color:rgb(112, 183, 192);
    font-weight: 600;
}
/* anther block */
.signup-img{
    display: flex;
    align-items: center;
    justify-content: center;
}
.reg-img{
    width: 70%;
    cursor: pointer;
}
.errorMsg{
    text-align: center;
}
@media  screen and (max-device-width: 500px) {
    .signupContainer{
        height: max-content;
        flex-direction: column-reverse;
        height: max-content;
        align-items: center;
    }
    .signup{
        margin: 20px 0;
    }
    .signup-text{
        margin: 10px 0 17px  0;
    }
    .signup-img{
        margin: 10px 0;
        width: 100%;
    }
    .reg-img{
        width: 50%;
    }
    .sign-form div {
        flex-direction: column;
    }
    .sign-form div input{
        width: 90%;
        margin: 10px 0;
    }
    .sign-form button{
        height: 50px;
        margin-bottom: 10px;
    }
    .log-text{
        margin: 20px 0
    }
    .log-text a{
        margin: 8px 0 0 0;
    }
    .eyeBtnMobile{
        position: relative;
        top: -6vh;
        left: 28vw;


    }
}
